/* Using with Tag */
/* p{
    background-color: black;
} */

/* Using with ID */
/* #parag_id{
    background-color: red;
} */

/* Using with Class */
/* .parag_class{
    background-color: green;
} */

/* Color, Background Color and Important */
#parag_id{
    color:red;
    color:#ff0000;
    color:rgb(255, 0, 0);
    color:rgba(255, 0, 0, 0.9);
    color:hsl(0, 100%, 50%);
    color:hsla(0, 100%, 50%, 0.9);
    background-color: black!important;
    background-color: blue;
    
    /* Padding Example */
    /* padding: 10px 15px 25px 12px; */
    /* padding: 10px 20px 15px; */
    /* padding: 15px 20px; */
    /* padding: 15px; */
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    /* Margin Example */
    /* margin: 10px 15px 25px 12px; */
    /* margin: 10px 20px 15px; */
    /* margin: 15px 20px; */
    /* margin: 15px; */
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    }

    /* Border and Border-Radius */
    #div_id{
        background-color: black;
        color: yellow;
        padding: 25px;
        margin-bottom: 10px;
        /* border-width: 5px;
        border-style: solid; 
        border-color: blue;  */
        border : 5px solid blue;
        /* border-radius: 20px;
        border-radius: 10px 10px 10px 10px;
        border-radius: 40px 5px; */
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    /* Text */
    #parag_id4{
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        background-color: black;
        color: aqua;
        font-size: 20px;
        font-weight: 200;
        font-style: italic;
        text-decoration: underline;
        text-transform: uppercase;
        text-transform: lowercase;
        text-transform: capitalize;
        text-align: justify;
        line-height: 1.5;
        padding-left: 10px;
        padding-right: 12px;
        word-spacing: 1px;
        letter-spacing: 1px;
        text-shadow: 2px 2px 2px yellow;  
    }

    /* Column -Count Layout*/

    .column-container{
        column-count: 3;
        column-gap: 20px;
        column-rule: 1px solid red;
        text-transform: capitalize;
    }

    /* Line -Clamp Layout*/
    .line-clamp4{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    
    /* Mozilla Line -Clamp Layout*/
        display: -moz-box;
        -moz-line-clamp: 4;
        -moz-box-orient: vertical;
        overflow: hidden;  
    }

    /* Link Miuul */
    #miuul_a{
        color: rgba(253, 2, 190, 0.87);
        text-decoration: none;
        padding: 10px;
        background-color: black;
    }
        #miuul_a:hover{
        color: white;
        text-decoration: none;
        padding: 9px;
        background-color: blue;
    }

    .miuul_width_height{
        background-color: blue;
        color: white;
        margin-top: 5px;
        width: 200%;
        width: 70%;
        height: 50px;
    }
    .miuul_width_height:hover{
        background-color: white;
        color: blue;
        cursor: pointer;
    }